<% layout('../views/layouts/dashboard') %>
<link rel="stylesheet" href="/css/tenant/add.css">

<h1>Add Tenant</h1>

<div class="add-tenant-content">
    <form action="/tenants/add" method="post" >
        <div>
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" name="fullName" required>
        </div>

        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <div>
            <label for="nik">NIK</label>
            <input type="text" id="nik" name="nik" required>
        </div>

        <div>
            <label for="domisili">Domisili</label>
            <input type="text" id="domisili" name="domisili" required>
        </div>

        <button>Submit</button>
    </form>
</div>