<!DOCTYPE html>
<html>
<head>
    <title>Add New Room</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Add New Room</h1>
    <form action="/rooms/create" method="POST">
       <label for="nomor_kamar">Nomor kamar : </label>
        <input type="number" name="nomor_kamar" id="nomor_kamar">
        <label for="harga">Harga : </label>
        <input type="number" name="harga" id="harga">  
        <button>Submit </button>
    </form>
</body>
</html>
