<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <link rel="stylesheet" href="/css/admin/style.css">
</head>
<body>
    <%- include('../partials/nav'); -%>
    <div class="container">
        <%- include('../partials/sidebar'); -%>
        <main>
            <h1>Create Room</h1>
            <div class="content">
                <form action="/dashboard/rooms/create" method="POST">
                    <label for="nomor_kamar">Nomor Kamar : </label>
                    <input type="number" name="nomor_kamar" id="nomor_kamar"><br>
                    <label for="harga">Harga : </label>
                    <input type="number" name="harga" id="harga">
                    <button>Submit</button>
                </form>
            </div>
            <a href="/dashboard/rooms">Return</a>
        </main>
    </div>
</body>
</html>