<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosabi</title>
    <link rel="stylesheet" href="css/indexStyle.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <header>
        <div class="upperHeader">
            <div class="logo">
            </div>
            <div class="auth">
                <ul>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Rooms</a></li>
                <li><a href="#">Facilites</a></li>
                <li><a href="#">Nearby</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="overview">
            <div class="overviewImages">
                <div class="superImage">
                    <img src="/images/bedroom1.jpg" alt="bedroom1 image">
                </div>
                <div class="rightImages">
                    <div class="otherImages">
                        <img src="/images/bedroom2.jpg" alt="">
                        <img src="/images/bedroom3.jpg" alt="">
                        <img src="/images/bedroom4.jpg" alt="">
                        <img src="/images/bedroom5.jpg" alt="">
                        <img src="/images/bedroom6.jpg" alt="">
                        <img src="/images/kitchen.jpg" alt="">
                    </div>
                    <div class="overviewRoomButton">
                        <a href="/rooms">Order Room</a>
                    </div>
                </div>
               
            </div>
            <div class="overviewContent">
                <div class="overviewFacilites">
                    <h2 style="color:#1D2F6F">Facilites</h2>
                    <ul style="list-style-type:none">
                        <li>AC room</li>
                        <li>Free wi-fi</li>
                        <li>Inside bathroom</li>
                        <li>Kitchen</li>
                        <li>Study space</li>
                        <li>Basketball court</li>
                    </ul>
                </div>
                <div class="overviewNearby">
                    <h2 style="color:#1D2F6F">Nearby</h2>
                    <ul style="list-style-type:none"> 
                        <li>Grand mall</li>
                        <li>People's market</li>
                        <li>State universities</li>
                        <li>Business centre</li>
                    </ul>
                </div>
                <div class="overviewAbout">
                    <h2 style="color:#1D2F6F">Why Us?</h2>
                    <p>Choosing kosabi as your place to stay is fabolous idea. We have many top notch fasilities and services.
                        Are you come far away from home? don't worry, in kosabi, you will feel at home all day. Feeling bored at
                        your room? kosabi strategic locations let you explore the city with ease.
                    </p>
                </div>
            </div>
        </div>
        <div class="rooms">
            <div class="roomPicture">

            </div>
            <div class="roomTable">
                <table>
                    <tr>
                        <th>Nomor</th>
                        <th>Harga</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    <% if (rooms.length > 0) { %>
                        <% rooms.forEach(room => { %>
                            <tr>
                                <td><%= room.nomor_kamar %></td>
                                <td><%= room.harga %></td>
                                
                                <% if (room.status!="") { %>
                                    <td><%= room.status %></td>
                                <% } else { %>
                                    <td>Available</td>
                                <% } %>
                                
                                <td><a href="#">Pesan</a></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="4">No rooms available.</td>
                        </tr>
                    <% } %>
                </table>
                
            </div>
            
        </div>
        <div class="facilities">
            <h1>Facilities</h1>
            <div class="facilitiesCards">
                <div>
                    <img src="images/bedroom1.jpg" alt="">
                    <h1>AC room</h1>
                    <p>Deskripsi tentang fasilitas</p>
                </div>
                <div>
                    <img src="images/bedroom1.jpg" alt="">
                    <h1>AC room</h1>
                    <p>Deskripsi tentang fasilitas</p>
                </div>
                <div>
                    <img src="images/bedroom1.jpg" alt="">
                    <h1>AC room</h1>
                    <p>Deskripsi tentang fasilitas</p>
                </div>
                <div>
                    <img src="images/bedroom1.jpg" alt="">
                    <h1>AC room</h1>
                    <p>Deskripsi tentang fasilitas</p>
                </div>
                <div>
                    <img src="images/bedroom1.jpg" alt="">
                    <h1>AC room</h1>
                    <p>Deskripsi tentang fasilitas</p>
                </div>
                <div>
                    <img src="images/bedroom1.jpg" alt="">
                    <h1>AC room</h1>
                    <p>Deskripsi tentang fasilitas</p>
                </div>
            </div>
        </div>
        <div class="nearby">
            <h1>Nearby</h1>
            <div class="nearbyCards">
                <div>
                    <img src="images/mall.jpg" alt="">
                    <h1>Mall</h1>
                    <p>Deskripsi tentang mall</p>
                </div> 
                <div>
                    <img src="images/market.jpg" alt="">
                    <h1>People's market</h1>
                    <p>Deskripsi tentang people's market</p>
                </div>
                <div>
                    <img src="images/university.jpg" alt="">
                    <h1>State university</h1>
                    <p>Deskripsi tentang state university</p>
                </div>
                <div>
                    <img src="images/business.jpg" alt="">
                    <h1>Business center</h1>
                    <p>Deskripsi tentang business center</p>
                </div>
            </div>

        </div>

    </main>
</body>
</html>