<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosabi</title>
    <link rel="stylesheet" href="css/indexStyle.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body>
    <header>
        <div class="upperHeader">
            <div class="logo">
            </div>
            <div class="auth">
                <ul>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Rooms</a></li>
                <li><a href="#">Facilites</a></li>
                <li><a href="#">Dorm rooms</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="overview">
            <div class="overviewImages">
                <div class="superImage">
                    <img src="/images/bedroom1.jpg" alt="bedroom1 image">
                </div>
                <div class="rightImages">
                    <div class="otherImages">
                        <img src="/images/bedroom2.jpg" alt="">
                        <img src="/images/bedroom3.jpg" alt="">
                        <img src="/images/bedroom4.jpg" alt="">
                        <img src="/images/bedroom5.jpg" alt="">
                        <img src="/images/bedroom6.jpg" alt="">
                        <img src="/images/kitchen.jpg" alt="">
                    </div>
                    <div class="overviewRoomButton">
                        <a href="/rooms">Order Room</a>
                    </div>
                </div>
               
            </div>
            <div class="overviewContent">
                <div class="overviewFacilites">
                    <h2 style="color:#1D2F6F">Facilites</h2>
                    <ul style="list-style-type:none">
                        <li>AC room</li>
                        <li>Free wi-fi</li>
                        <li>Inside bathroom</li>
                        <li>Kitchen</li>
                        <li>Study space</li>
                        <li>Basketball court</li>
                    </ul>
                </div>
                <div class="overviewNearby">
                    <h2 style="color:#1D2F6F">Nearby</h2>
                    <ul style="list-style-type:none"> 
                        <li>Grand mall</li>
                        <li>People's market</li>
                        <li>State universities</li>
                        <li>Business centre</li>
                    </ul>
                </div>
                <div class="overviewAbout">
                    <h2 style="color:#1D2F6F">Why</h2>
                    <p>Choosing kosabi as your place to stay is fabolous idea. We have many top notch fasilities and services.
                        Are you come far away from home? don't worry, in kosabi, you will feel at home all day. Feeling bored at
                        your room? kosabi strategic locations let you explore the city with ease.
                    </p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>