<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
</head>
<body>
    <div class="rooms">
        <% rooms.forEach(room => { %>   
            <div>
                <img src="/images/bedroom1.jpg" alt="bedroom1 image">  
                <h1><%= room.nomor_kamar %></h1> 
                <h2><%= room.harga %></h2>
            </div>
        <% }); %>
    </div>
</body>
</html>