<link rel="stylesheet" href="/css/partials/navbar.css">
<style>
    
</style>
<nav>
    <div></div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>