<link rel="stylesheet" href="/css/partials/navbar.css">
<style>
    
</style>
<nav>
    <img src="/images/logo.png" alt="">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Logout</a></li>
    </ul>
</nav>