<link rel="stylesheet" href="/css/partials/sidebar.css">

</script>
<aside>
   <ul class="menu">
    
        <img src="/images/logo.png" alt="">
        <li class="services"><a href="/" class="serviceToggle">Dashboard</a></li>
        <li class="services">
            <a href="/rooms" class="serviceToggle">Room</a>
        </li>
        <li class="services" >
            <a href="/tenants">Tenant</a>
        </li>
        <li class="services">
            <a href="/rentals">Rental</a>
        </li>
        <li class="services"></li>
        <li class="services"></li>
   </ul>
</aside>
