<link rel="stylesheet" href="/css/partials/sidebar.css">

</script>
<aside>
   <ul class="menu">
        <li class="services"><a href="/" class="serviceToggle">Dashboard</a></li>
        <li class="services">
            <a href="/rooms" class="serviceToggle">Room</a>
            <ul class="service-items">
                <li><a href="/rooms">Overview</a></li>
                <li><a href="/rooms/add">Create</a></li>
                <li><a href="">Update</a></li>
            </ul>
        </li>
        <li class="services" >
            <a href="#" class="serviceToggle">Tenant</a>
            <ul class="service-items">
                <li><a href="">Add</a></li>
                <li><a href="">Update</a></li>
                <li><a href="">Remove</a></li>
            </ul>
        </li>
        <li class="services"></li>
        <li class="services"></li>
        <li class="services"></li>
   </ul>
</aside>
