<link rel="stylesheet" href="/partials/sidebar.css">
<aside>
    <div>
        <a href="">Report</a>
    </div>
    <div>
        <a href="/rooms">Rooms</a>
        <ul>
            <a href="">overview</a>
            <a href="">add</a>
            <a href="">Edit</a>
        </ul>
    </div>
    <div></div>
    <div></div>
    <div></div>
</aside>