@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins';
}

.container {
    display: flex;
    flex: 1;    
}

nav{
    padding: 1rem;
    background-color: #393D3F;
    color: white;
}

nav ul, .searchBar, .searchForm{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul{
    align-items: center;
    justify-content: space-between;
}

.searchBar{
    align-items: center;
    gap: 2rem;
}

.searchForm{
    gap: 0rem;
    align-items: stretch;
}

.searchForm button{
    padding: 0rem 1.1rem;
    background-color: #EC9A29;
    color: white;
    border: none;
}

.searchBar a{
    text-decoration: none;
    color: white;
}

nav input[type=text]{
    padding: 0.5rem 1rem;
}

aside{
    background-color: #EC9A29;
    width: 12%;
    padding: 2rem;
    padding-bottom: 15rem;
}

aside a{
    text-decoration: none;
    color: white;
}

aside ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 3rem;
    font-weight: bold;
    list-style-type: none;
}

main{
    padding:2rem;
}