<% layout('../views/layouts/dashboard') %>
<link rel="stylesheet" href="/css/room/add.css">

<h1>Add Room</h1>

<div class="add-room-content">
    <form action="/rooms/add" method="post" enctype="multipart/form-data">
        <div>
            <label for="number">Number</label>
            <input type="text" id="number" name="number" required>
        </div>
        <div>
            <label for="type">Type</label>
            <input type="text" id="type" name="type" required>
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="price" required>
        </div>
        <div>
            <label for="photo">Upload Foto:</label>
            <input type="file" name="photo" accept="image/*" />
        </div>
        <!-- <div>
            <label for="ownerId">Owner Id </label>
            <input type="text" id="ownerId" name="ownerId" required>
        </div> -->
        <button>submit</button>
    </form>
</div>