<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="css/admin/style.css">
</head>
<body>
    <nav>
        <ul>
            <li>Admin</li>
            <li>
                <div class="searchBar">
                    <div class="searchForm">
                        <form action="">
                            <input type="text" name="search" id="search" placeholder="search">
                        </form>
                        <button>Search</button>
                    </div>
                    <a href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
