<aside>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/rooms">Rooms</a></li>
        <li><a href="/dashboard/income">Income</a></li>
        <li><a href="/dashboard/orders">Orders</a></li>
        <li><a href="/dashboard/users">Users</a></li>
        <li><a href="#">Admins</a></li>
    </ul>
</aside>